In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/raw/logistics_transport_data.csv')
df.head(1)

,operation_date,origin_municipality,origin_state,origin_lat,origin_lon,destination_port,destination_state,destination_lat,destination_lon,commodity,tonnage,distance_km,total_freight_value,value_per_ton,commodity_reference_price,month,year,seasonality_multiplier,route
0,2023-01-01,Cascavel,PR,-24.955556,-53.455556,Vit贸ria,ES,-20.315556,-40.312222,Soy,29.69,1547.0,11183.56,376.69,1465.95,1,2023,0.747,Cascavel_PR-Vit贸ria_ES

In [3]:
from src.nodes.preprocessing import DateFilter

In [ ]:
filter = DateFilter(
    date_column='operation_date',
    date_str_format='%Y-%m-%d',
    start_date='2024-01-01',
    end_date='2024-12-31'
)

filter.fit(df)
filter.transform(df)

2025-09-30 12:16:51.425 | WARNING  | src.nodes.preprocessing:_check_date_column_type:50 - Date column operation_date is not a datetime column, it will be converted to datetime

Empty DataFrame
Columns: [operation_date, origin_municipality, origin_state, origin_lat, origin_lon, destination_port, destination_state, destination_lat, destination_lon, commodity, tonnage, distance_km, total_freight_value, value_per_ton, commodity_reference_price, month, year, seasonality_multiplier, route]
Index: []

In [55]:
11183.56 / 376.69

29.689028113302715